.item-list {
  text-align: left;
  max-width: 500px;
}

.item-list td {
  text-align: left;
}

.item-list th {
  font-weight: bold;
  white-space: nowrap;
}

.item-list th,td {
  font-weight: normal;
  vertical-align: top;
  padding: 5px 10px 5px 0;
}

